9_private/*
!9_private/*template*.*

!9_private/1_linux/
9_private/1_linux/*
!9_private/1_linux/*template*.*

!9_private/2_www/
9_private/2_www/*
!9_private/2_www/*template*.*

!9_private/3_database/
9_private/3_database/*
!9_private/3_database/*template*.*

!9_private/4_php/
9_private/4_php/*
!9_private/4_php/*template*.*

!9_private/5_virtual_machine_host/
9_private/5_virtual_machine_host/*
!9_private/5_virtual_machine_host/*template*.*

!9_private/6_machine_learning/
9_private/6_machine_learning/*
!9_private/6_machine_learning/*template*.*

!9_private/9_private/
9_private/9_private/*
!9_private/9_private/*template*.*
